/* CSS variables part start */
:root{
    --font_family: 'Poppins', sans-serif;
    --font_family_nunito_sans: 'Nunito Sans', sans-serif;
    --dark_green_color: #007F5F;
    --white_color: #FFFFFF;
    --all_heading_black_color: #292929;
    --all_paragraph_black_color: #6A6A6A;
    --orange_color: #FF8B00;

}
/* CSS variables part end */
/* Common CSS part start */
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
p, a, ul, ol, h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}
ul, ol, li{
    list-style: none;
}
.all_section_heading h2{
    color: var(--all_heading_black_color);
    font-size: 40px;
    font-weight: 600;
    font-family: var(--font_family);
    text-align: center;
}
/* Common CSS part end */
/* Navbar part start */
nav{
    color: var(--white_color);
    padding: 40px 0 !important;
}
.nav_items ul{
    gap: 30px;
}
.nav_items ul li a{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font_family);
}
.nav_btn a{
    color: var(--white_color);
    font-size: 16px;
    font-weight: 600;
    font-family: var(--font_family);
    padding: 16px 35px;
    background: var(--dark_green_color);
    border-radius: 17px;
    text-decoration: none;
    transition: all linear .3s;
}
.nav_btn a:hover{
    transform: scale(1.1);
}
/* Navbar part end */
/* Banner part start */
#banner{
    background: url(../Images/FtH-2/banner-fth-2.png) no-repeat;
    background-size: cover;
    background-position: center;
    /* position: relative;
    z-index: 1; */
}
.overlay{
    /* position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; */
    padding: 148px 0 122px 0;
    color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}
.banner_info{
    width: 573px;
}
.banner_info h1{
    color: var(--white_color);
    font-size: 65px;
    font-weight: 600;
    font-family: var(--font_family);
    line-height: 80px;
}
.banner_info p{
    color: var(--white_color);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font_family);
    line-height: 30px;
    padding: 30px 0 40px 0;
}
.banner_info .banner_btn a{
    color: var(--white_color);
    font-size: 16px;
    font-weight: 600;
    font-family: var(--font_family);
    padding: 16px 35px;
    background: var(--dark_green_color);
    border-radius: 17px;
    text-decoration: none;
    transition: all linear .3s;
}
.banner_info .banner_btn a:hover{
    transform: scale(1.1);
}
.banner_location{
    width: fit-content;
    border-radius: 17px;
    margin-top: 60px;
    padding: 35px 23px;
    background: var(--white_color);
    display: flex;
    align-items: center;
}
.banner_location button{
    color: var(--white_color);
    background: var(--dark_green_color);
    border: none;
    border-radius: 17px;
    padding: 30px;
    margin-left: 70px;
}
.banner_location .location_items{
    gap: 70px;
}
.banner_location .location_items h3{
    color: var(--all_heading_black_color);
    font-size: 20px;
    font-weight: 700;
    font-family: var(--font_family_nunito_sans);
    line-height: 26px;
}
.banner_location .location_items h3 span{
    padding: 0 20px 0 10px;
}
.banner_location .location_items input{
    border: none;
    color: var(--all_paragraph_black_color);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font_family_nunito_sans);
    margin-left: 26px;
}
/* Banner part end */
/* Travel part start */
#travel{
    padding: 171px 0 213px 0;
}
.all_section_heading p{
    color: var(--all_paragraph_black_color);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font_family);
    line-height: 30px;
    width: 692px;
    margin: 0 auto;
    padding: 20px 0 112px 0;
    text-align: center;
}
.travel_items{
    padding: 14px 30px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    transition: all linear.3s;
    -webkit-transition: all linear.3s;
    -moz-transition: all linear.3s;
    -ms-transition: all linear.3s;
    -o-transition: all linear.3s;
    cursor: pointer;
}
.travel_items{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 2px 11px -6px rgba(0,0,0,0.75);
}
.travel_items .travel_info{}
.travel_info{
    /* padding: 63px 61p; */
}
.travel_info img{
    background: rgba(0, 127, 95, 0.1);
    padding: 19px 24px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}
.travel_info h3{
    color: var(--all_heading_black_color);
    font-size: 25px;
    font-weight: 500;
    font-family: var(--font_family);
    line-height: 24px;
    padding: 39px 0 20px 0;
}
.travel_info p{
    color: var(--all_paragraph_black_color);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font_family);
    line-height: 30px;
}
/* Travel part end */
/* Popular part start */
#popular{
    padding-bottom: 150px;
}
.popular_slider{}
.popular_slider .slider_items{
    padding: 20px 20px 42px;
}
.popular_slider .slider_items ul{
    display: flex;
    gap: 6px;
    margin: 37px 0 17px 0 !important;
}
.popular_slider .slider_items ul li i{
    color: #E0E0E0;
}
.popular_slider .slider_items ul li span i{
    color: var(--orange_color);
}
.popular_slider .slider_items ul li p{
    color: var(--orange_color);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    font-family: var(--font_family);
}
.popular_slider .slider_items p{
    width: 325px;
    margin: 20px 0;
}
.popular_slider .slider_items p span{
    color: var(--all_heading_black_color);
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    font-family: var(--font-family);
}
.popular_slider .slider_items a{
    border: none;
    color: var(--white_color);
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font_family);
    padding: 10px 35px;
    background: var(--dark_green_color);
    border-radius: 17px;
    text-decoration: none;
    transition: all linear .3s;
    margin-top: 40px;
}
.popular_slider .slider_items .slider_image{
    width: 329px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    overflow: hidden;
}
/* Popular part end */